{% extends 'base.html.twig' %}

{% block contenidoIzquierda %}
  <h2>Desarrollo Web en Entorno Servidor</h2>
  <p>Pellentesque elementum, felis nec vulputate facilisis, ligula mauris suscipit mi, id imperdiet metus quam sed erat. Mauris lectus ligula, scelerisque quis cursus eu, lacinia eu magna. Donec et orci justo. Donec id quam turpis. Curabitur sit amet fermentum turpis. Etiam blandit accumsan purus ut sodales. Maecenas ante risus, facilisis vel semper a, venenatis ut dui.</p>
  <p> <a href="#">Read more | Comments (5)</a><br />
  </p>
  <h2>Interfaces Web</h2>
  <p>Pellentesque elementum, felis nec vulputate facilisis, ligula mauris suscipit mi, id imperdiet metus quam sed erat. Mauris lectus ligula, scelerisque quis cursus eu, lacinia eu magna. Donec et orci justo. Donec id quam turpis. Curabitur sit amet fermentum turpis. Etiam blandit accumsan purus ut sodales. Maecenas ante risus, facilisis vel semper a, venenatis ut dui.</p>
  <p> <a href="#">Read more | Comments (5)</a></p>
  <h2>Despliegue de Aplicaciones Web</h2>
  <p>Pellentesque elementum, felis nec vulputate facilisis, ligula mauris suscipit mi, id imperdiet metus quam sed erat. Mauris lectus ligula, scelerisque quis cursus eu, lacinia eu magna. Donec et orci justo. Donec id quam turpis. Curabitur sit amet fermentum turpis. Etiam blandit accumsan purus ut sodales. Maecenas ante risus, facilisis vel semper a, venenatis ut dui.</p>
  <p> <a href="#">Read more | Comments (5)</a></p>
{% endblock %}

{% block menu %}
  <ul>
    <li><a href="#">Asignatura 1</a></li>
    <li><a href="#">Asignatura 2</a></li>
    <li><a href="#">Asignatura 3</a></li>
    <li><a href="#">Asignatura 4</a></li>
    <li><a href="#">Asignatura 5</a></li>
    <li><a href="#">Asignatura 6</a></li>
  </ul>
{% endblock %}

{% block patrocinadores %}
  <li class="sponsors"><a href="http://www.imhosted.com">ImHosted.com</a><br />
    Affordable Web Hosting Provider</li>
  <li class="sponsors"><a href="http://www.csshub.com/">CSS Hub</a><br />
    Premium CSS Templates</li>
{% endblock %}