<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    Probando Twig...<br>
    {{ saludo }}, la variable x vale {{ x }}, por si no lo sabías.
  </body>
</html>