{% extends 'base.html.twig' %}

{% block contenidoIzquierda %}
  <h2>Sobre nosotros<br />
    <span> March 16, 2010 | Posted by Owner | Filed under templates, internet</span> </h2>
  <div class="clr"></div>
  <p><a href="#">Lorem ipsum dolor sit amet, consectetur </a>adipiscing elit. Sed euismod aliquet nunc vel porta. Morbi non mi id diam mattis consequat. Mauris pharetra fermentum tortor quis sagittis. Fusce rutrum ipsum lectus, vel congue velit. Nulla ultrices pretium congue. Mauris metus nibh, pulvinar vel vehicula eu, pharetra id ante. Vivamus tincidunt semper sapien ut fermentum. Nullam facilisis, nulla eu suscipit vulputate, libero nisl pellentesque tellus, ac scelerisque metus mauris ut quam. Nulla facilisi. Quisque rhoncus dolor et dolor lobortis accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse at nulla ante, at hendrerit mi. Aenean in ipsum massa. Pellentesque semper elit quis mauris ultricies ultrices. Sed sit amet felis tellus. Suspendisse potenti.</p>
  <p>Pellentesque elementum, felis nec vulputate facilisis, ligula mauris suscipit mi, id imperdiet metus quam sed erat. Mauris lectus ligula, scelerisque quis cursus eu, lacinia eu magna. Donec et orci justo. Donec id quam turpis. Curabitur sit amet fermentum turpis. Etiam blandit accumsan purus ut sodales. Maecenas ante risus, facilisis vel semper a, venenatis ut dui.</p>
  <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> Sed euismod aliquet nunc vel porta. Morbi non mi id diam mattis consequat. Mauris pharetra fermentum tortor quis sagittis. Fusce rutrum ipsum lectus, vel congue velit. Nulla ultrices pretium congue. Mauris metus nibh, pulvinar vel vehicula eu, pharetra id ante. Vivamus tincidunt semper sapien ut fermentum. Nullam facilisis, nulla eu suscipit vulputate, libero nisl pellentesque tellus, ac scelerisque metus mauris ut quam. Nulla facilisi. Quisque rhoncus dolor et dolor lobortis accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse at nulla ante, at hendrerit mi. Aenean in ipsum massa. Pellentesque semper elit quis mauris ultricies ultrices. Sed sit amet felis tellus. Suspendisse potenti.</p>
  <p><a href="#">Read more | Comments (5)</a></p>
{% endblock %}

{% block menu %}
  <ul>
    <li><a href="#">Otro</a></li>
    <li><a href="#">Más info</a></li>
    <li><a href="#">Style Demo</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Archives</a></li>
  </ul>
{% endblock %}

{% block patrocinadores %}
  <li class="sponsors"><a href="http://www.evrsoft.com">Evrsoft</a><br />
    Website Builder Software &amp; Tools</li>
  <li class="sponsors"><a href="http://www.myvectorstore.com">MyVectorStore</a><br />
    Royalty Free Stock Icons</li>
{% endblock %}