<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form method="get">
      <input type="number" name="x" value="{{ x }}"> + 
      <input type="number" name="y" value="{{ y }}"> = {{ suma }}<br>
      <input type="submit" value="Sumar">
    </form>
    </body>
</html>