{# Plantilla para mostrar información del usuario #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h2>Información de usuario</h2>
    <b>Nombre:</b> {{ nombre }}<br>
    <b>Primer apellido:</b> {{ apellido1 }}<br>
    <b>Segundo apellido:</b> {{ apellido2 }}<br>
    <b>DNI:</b> {{ dni }}<br>
  </body>
</html>